body {
    background-color: #f0f2f5;
}

.card {
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.alert {
    text-align: center;
}

#game-title {
    font-size: 2.5rem;
    color: #940e0e;
    margin-bottom: 20px;
    font-weight: bold;
    text-shadow: 2px 2px #9c9c9c;
}

#total-questions{
    font-weight: bold;
    color:#1e90ff;
}

#correct-answers{
    font-weight: bold;
    color:#3cb371;
}

#incorrect-answers {
    font-weight: bold;
    color:#dc3545;
}

#result {
    font-size: 1.5rem;
    margin-top: 20px;
}

#answer-input {
    font-size: 1.25rem; /* ขนาดฟอนต์ที่ใกล้เคียงกับปุ่มขนาดใหญ่ */
    height: calc(1.5em + 1rem + 2px); /* ปรับความสูงให้เท่ากับปุ่ม */
    padding: 0.5rem 1rem; /* ปรับช่องว่างภายในเพื่อให้เหมาะสม */
}

.counter {
    font-size: 1.5rem;
    margin-top: 10px;
}

.counter span {
    display: block;
    font-weight: bold;
}

/* Mobile Responsive Styles */
@media (max-width: 576px) {
    .counter {
        font-size: 1.2rem;
    }
}
